<div class="flex w-full gap-2">
    <h3 class="w-full">
        URL acortada:
        <span class="px-3 py-1 w-full bg-neutral-700 rounded-md"
            >{{ url }}</span
        >
    </h3>
    <a
        class="px-3 py-1 bg-green-700 rounded-md text-nowrap"
        href="{{ url }}"
        target="_blank"
        >Probar 🎉</a
    >
    <a
        class="px-3 py-1 bg-purple-700 rounded-md text-nowrap"
        href="/analytics/{{ alias }}"
        target="_blank"
        >Analíticas 🚛</a
    >
</div>
